<style>
    .cuadro{
        background: #f5fffb24;
    }
</style>

<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div  class="cuadro row">
				<div class="cuadro col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
                                            <h1 class="">Postres y Almuerzos Personalizados <span>a tu gusto</span></h1>
						<h4 class="">Queremos complacerte, elige con sabor y combinación deliciosa y permite que seamos tu compañero para esa ocasión especial</h4>
                                                
						<a class="btn btn-lg btn-circle btn-outline-new-white" href="#contacto">+Información</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12" style="padding-top: 25px">
					<img src="assets/images/about-img.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>


    
