<div class="contact-imfo-box" id="contacto">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 arrow-center">
                        <i class="fa fa-envelope"></i>
                        <div class="overflow-hidden">
                            <h4>Correo</h4>
                            <p class="lead">
                                <a style="text-decoration: none; color: #FFF" href="mailto:tentempie2018@gmail.com"><p class="lead">tentempie2018@gmail.com</a>

                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 arrow-center">
                        <i class="fa fa-facebook-square"></i>
                        <div class="overflow-hidden">
                            <h4>Facebook</h4>

                            <p class="lead">
                                <a style="text-decoration: none; color: #FFF" href="https://facebook.com/Tentempie2018/" target="_blank"><p class="lead">@Tentempie2018</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 arrow-center">
                        <i class="fa fa-instagram"></i>
                        <div class="overflow-hidden">
                            <h4>Instagram</h4>

                            <p class="lead">
                                <a style="text-decoration: none; color: #FFF" href="https://www.instagram.com/tentempie2018/?hl=es-la" target="_blank"><p class="lead">@Tentempie2018</a>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>