<div class="customer-reviews-box">
            <div class="container">
                <!--			<div class="row">
                                                <div class="col-lg-12">
                                                        <div class="heading-title text-center">
                                                                <h2>Customer Reviews</h2>
                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                                                        </div>
                                                </div>
                                        </div>-->
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto text-center">
                        <div id="reviews" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner mt-4">
                                <div class="carousel-item text-center active">
                                    <div class="img-box p-1 border rounded-circle m-auto">
                                        <img class="d-block w-100 rounded-circle" src="assets/images/quotations-button.png" alt="">
                                    </div>
                                    <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Mario Diaz</strong></h5>
                                    <h6 class="text-dark m-0">CEO Tentempié</h6>
                                    <p class="m-0 pt-3">
                                        Todos los esfuerzos que nacen de la pasión son premiados con resultados de abundante bendiciones,<br/>
                                        solo aquel que confía en si mismo y camina de la mano de Dios será iluminado

                                        
                                    </p>
                                </div>
                                <div class="carousel-item text-center">
                                    <div class="img-box p-1 border rounded-circle m-auto">
                                        <img class="d-block w-100 rounded-circle" src="assets/images/quotations-button.png" alt="">
                                    </div>
                                    <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Di Loreto Humberto</strong></h5>
                                    <h6 class="text-dark m-0">Director Marketing Digital</h6>
                                    <p class="m-0 pt-3">
                                        Estamos destinados al aprendizaje constante y a su vez al éxito, todo lo que buscas está en ti.<br/>
                                        Somos producto de la fuerza, no de la debilidad
                                        
                                    </p>
                                </div>
                                <div class="carousel-item text-center">
                                    <div class="img-box p-1 border rounded-circle m-auto">
                                        <img class="d-block w-100 rounded-circle" src="assets/images/quotations-button.png" alt="">
                                    </div>
                                    <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Jiménez Alexander</strong></h5>
                                    <h6 class="text-dark m-0">Desarrollador Web</h6>
                                    <p class="m-0 pt-3">
                                        La Felicidad se podría definir como la emoción de avanzar hacia metas deseables, y en efecto, existe un instante de contemplación sobre esa última meta que lograste en el que estás satisfecho. <br/>
                                        Sin embargo, la satisfacción se vuelve aburrimiento en el instante en que no surgen nuevas metas. 
                                    </p>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>