
<div class="menu-box" > <!-- menu box -->
    <div class="container"> <!-- container -->
        <div class="row" >
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Catálogo de productos</h2>
                    <p>Texto referencia - Catalogo </p>
                </div>
            </div>
        </div>

        <div class="row inner-menu-box"> <!-- row inner -->
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Todo</a>
                    <a class="nav-link" data-toggle="pill" id="v-pills-alfajores-tab" href="#v-pills-alfajores" role="tab" aria-controls="v-pills-alfajores" aria-selected="false">Alfajores</a>
                    <a class="nav-link" data-toggle="pill" id="v-pills-bizcochos-tab" href="#v-pills-bizcochos" role="tab" aria-controls="v-pills-bizcochos" aria-selected="false">Bizcochos</a>
                    <a class="nav-link" data-toggle="pill" id="v-pills-cheeskakes-tab" href="#v-pills-cheeskakes" role="tab" aria-controls="v-pills-cheeskakes" aria-selected="false">Cheeskakes</a>
                    <a class="nav-link" data-toggle="pill" id="v-pills-postres-tab" href="#v-pills-postres" role="tab" aria-controls="v-pills-postres" aria-selected="false">Postres</a>
                    <a class="nav-link" data-toggle="pill" id="v-pills-tortas-tab" href="#v-pills-tortas" role="tab" aria-controls="v-pills-tortas" aria-selected="false">Tortas</a>
                    <a class="nav-link" data-toggle="pill" id="v-pills-otros-tab" href="#v-pills-otros" role="tab" aria-controls="v-pills-otros" aria-selected="false">Otros</a>
                </div>
            </div> <!-- end col-3 -->

            <div class="col-9"> <!-- col 9 -->
                <div class="tab-content" id="v-pills-tabContent"> <!-- tab content -->


                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 special-grid drinks">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-01.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Drinks 1 - NULO</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $7.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid drinks">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-02.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Drinks 2</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $9.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid drinks">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-03.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Drinks 3</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $10.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-04.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Lunch 1</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $15.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-05.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Lunch 2</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $18.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-06.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Lunch 3</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $20.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-07.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 1</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $25.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-08.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 2</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $22.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-09.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 3</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $24.79</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    
                    <div class="tab-pane fade" id="v-pills-bizcochos" role="tabpanel" aria-labelledby="v-pills-bizcochos-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 special-grid lunch"><!-- init col-->
                                    <div class="gallery-single fix"><!-- init gallery-->
                                            <img src="assets/images/productos/img-04.jpg" class="img-fluid" alt="Image">
                                            <div class="why-text"> <!-- init why text-->
                                                <h4>BIZCOCHO</h4>
                                                <p>Sed id magna vitae eros sagittis euismod.</p>
                                                <h5> $15.79</h5>
                                            </div> <!-- end why text-->
                                    </div> <!-- end gallery -->
                            </div> <!-- end col-->

                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-05.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>BIZCOCHO</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $18.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-06.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>BIZCOCHO</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $20.79</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                        
                    
<!--                    <div class="tab-pane fade" id="v-pills-tortas" role="tabpanel" aria-labelledby="v-pills-tortas-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-04.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>tortas</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $15.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-05.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>tortas</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $18.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-06.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>tortas</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $20.79</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    
                    
                    
                    
<!--                    INIT VUE 
                    <div id="app">
                        <div v-for="data in productos">
                            <div v-for="key in data">
                                <div class="tab-pane fade" v-bind:id="key[0].id" v-bind:aria-labelledby="key[0].id + '-tab'" role="tabpanel">
                                    <div class="row">			
                                        <div v-for="value in key">
                                                
                                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                                    <div class="gallery-single fix">
                                                        <img src="assets/images/productos/img-04.jpg" class="img-fluid" alt="Image">
                                                        <div class="why-text">
                                                            <h4>{{value.nombre}}</h4>
                                                            <p>{{value.sabor}}</p>
                                                            <h5> $15.79</h5>
                                                        </div>
                                                    </div>
                                                </div>

                                        </div>

                                    </div>
                                    
                                </div>

                            </div> 
                            </div> 
                            </div> 
                        </div>
                    </div>-->



                    <!-- END BUE-->









<!--                    <div class="tab-pane fade" id="v-pills-bizcochos" role="tabpanel" aria-labelledby="v-pills-bizcochos-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-04.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Lunch 1</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $15.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-05.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Lunch 2</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $18.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid lunch">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-06.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Lunch 3</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $20.79</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

<!--                    <div class="tab-pane fade" id="v-pills-cheeskakes" role="tabpanel" aria-labelledby="v-pills-cheeskakes-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-07.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 1</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $25.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-08.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 2</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $22.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-09.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 3</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $24.79</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

<!--                    <div class="tab-pane fade" id="v-pills-tortas" role="tabpanel" aria-labelledby="v-pills-tortas-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-07.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 1</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $25.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-08.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 2</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $22.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-09.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 3</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $24.79</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

<!--                    <div class="tab-pane fade" id="v-pills-otros" role="tabpanel" aria-labelledby="v-pills-otros-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-07.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 1</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $25.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-08.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 2</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $22.79</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 special-grid dinner">
                                <div class="gallery-single fix">
                                    <img src="assets/images/productos/img-09.jpg" class="img-fluid" alt="Image">
                                    <div class="why-text">
                                        <h4>Special Dinner 3</h4>
                                        <p>Sed id magna vitae eros sagittis euismod.</p>
                                        <h5> $24.79</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                </div> <!-- end tab content -->
            </div> <!-- end col-9-->
        </div> <!-- row innter -->

    </div> <!--end container -->
</div> <!-- end menu box-->

<div>

    <script>

        const app = new Vue({
            el: '#app',
            data: {
                productos: [
                    {
                        ALFAJORES: [
                            {id: 'v-pills-alfajores', nombre: 'ALFAJOR CLASICO', categoria: 'ALFAJORES', sabor: 'AREQUIPE-COCO', precio: '', imagen: '', visible: true},
                            {id: 'v-pills-alfajores', nombre: 'ALFAJOR CLASICO', categoria: 'ALFAJORES', sabor: 'AREQUIPE-COCO', precio: '', imagen: '', visible: true},
                            {id: 'v-pills-alfajores', nombre: 'ALFAJOR CLASICO', categoria: 'ALFAJORES', sabor: 'AREQUIPE-COCO', precio: '', imagen: '', visible: true},
                            {id: 'v-pills-alfajores', nombre: 'ALFAJOR CLASICO', categoria: 'ALFAJORES', sabor: 'AREQUIPE-COCO', precio: '', imagen: '', visible: true},
                            {id: 'v-pills-alfajores', nombre: 'ALFAJOR CLASICO', categoria: 'ALFAJORES', sabor: 'AREQUIPE-COCO', precio: '', imagen: '', visible: true},
                        ],
                        TORTAS: [
                            {id: 'v-pills-tortas', nombre: 'TORTA CLASICA', categoria: 'TORTAS', sabor: 'AREQUIPE-COCO', precio: '', imagen: '', visible: true},
                            {id: 'v-pills-tortas', nombre: 'TORTA CLASICA', categoria: 'TORTAS', sabor: 'AREQUIPE-COCO', precio: '', imagen: '', visible: true},
                            {id: 'v-pills-tortas', nombre: 'TORTA CLASICA', categoria: 'TORTAS', sabor: 'AREQUIPE-COCO', precio: '', imagen: '', visible: true},
                            {id: 'v-pills-tortas', nombre: 'TORTA CLASICA', categoria: 'TORTAS', sabor: 'AREQUIPE-COCO', precio: '', imagen: '', visible: true},
                            {id: 'v-pills-tortas', nombre: 'TORTA CLASICA', categoria: 'TORTAS', sabor: 'AREQUIPE-COCO', precio: '', imagen: '', visible: true},
                        ],
                        POSTRES: [
                            {id: 'v-pills-postres', nombre: 'POSTRE QUESILLO', categoria: 'POSTRES', sabor: 'AREQUIPE-COCO', precio: '', imagen: '', visible: true},
                            {id: 'v-pills-postres', nombre: 'POSTRE QUESILLO', categoria: 'POSTRES', sabor: 'AREQUIPE-COCO', precio: '', imagen: '', visible: true},
                        ],
                        CHEESCAKES: 'ARRAY CH',
                        MANJARES: 'ARRAY MA',
                        OTROS: 'ARRAY OT',

                    },
                ],
            }
        })


    </script>
