<div id="slides" class="cover-slides">
            <ul class="slides-container">
                <li class="text-left">
                    <img style="filter: grayscale(30%);" src="assets/images/slider-01.jpg" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20 padding-35"><strong>Catering <br> </strong></h1>
                                <p class="m-b-40 padding-35">Ofrecemos a nuestros clientes una gran variedad <br/>de tentempiés y comidas para eventos, fiestas y cualquier otro tipo de reuniones </p>
                                <p class="padding-35"><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">+Información</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="text-left">
                    <img src="assets/images/slider-02.jpg" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20 padding-35"><strong>Restaurante en Casa<br> </strong></h1>
                                <p class="m-b-40 padding-35">Ofrecemos un servicio especial y personalizado, donde los clientes, pueden elegir entre <br/>una variedad de menús para desayunos, <br/>brunch,
                                    almuerzos, meriendas y cenas. <br/>
                                </p>
                                <p class="padding-35"><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">+Información</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="text-left">
                    <img src="assets/images/slider-03.jpg" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20 padding-35"><strong>Celebraciones<br> </strong></h1>
                                <p class="m-b-40 padding-35">Queremos acompañarlos en cualquier tipo de celebración. Tenemos servicio de comida para <br/>cumpleaños, aniversarios, baby shower, <br/>
                                    graduaciones, eventos empresariales, cenas románticas y mucho más.
                                </p>
                                <p class="padding-35"><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">+Información</a></p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="slides-navigation">
                <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            </div>
        </div>